.article {
    border: 1px solid var(--text-muted);
    margin: 2rem 0;
    padding: 1.2rem;
}

.article > a {
    text-decoration: none;
}

.article .title--container {
    font-size: 2rem;
    padding-bottom: 0.5rem;
}

.article .preview--container {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
}

.article .description--container {
    display: grid;
    grid-template-columns: 80% 20%;
    align-items: center;
    text-align: end;
}

.article .description--container .tags--container {
    display: flex;
}

.tags--container .tag-item {
    padding: 5px;
    margin-right: 1rem;
    min-width: 3rem;
    text-align: center;
    font-size: 1.15rem;
    background-color: var(--accent);
    color: var(--bg-main);
}

.article .description--container .date--container {
    font-size: 1.4rem;
}