.blocknote--container .btnSubmit--container {
    display: flex;
    justify-content: end;
    padding: 8px 0;
    margin: 5px 0;
}

.blocknote--container .btnSubmit--container .btnSubmit {
    padding: 4px;
    font-size: 1.4rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.blocknote--container .btnSubmit--container .btnSubmit:hover {
    background-color: var(--accent);
    color: black;
    text-decoration: underline;
}