.sidebar {
    padding: 1.2rem;
    position: fixed;
    top: var(--header-height);
    left: 0;
    width: var(--sidebar-width);
    height: calc(100dvh - var(--header-height));
    background-color: var(--bg-panel);
    border-right: 1px solid var(--border-main);

    transform: translateX(calc(-1 * var(--sidebar-width)));
    transition: transform 0.25s ease;
    z-index: 150;
}

.sidebar.open {
    transform: translateX(0);
}

.menu-button {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    margin-right: 1rem;
}

.menu-button:hover {
    color: var(--accent);
}


.sidebar nav ul {
    list-style: none;
}

.sidebar a {
    display: block;
    text-decoration: none;
    margin: 1rem 0;
    padding: 0.5rem;
    font-size: 1.4rem;

}

.sidebar a:hover {
    color: var(--accent);
}