:root {
    --bg-main: #0d0a07;
    --bg-panel: #1a110b;
    --bg-highlight: #ff9f1c;

    --text-main: #f5b26b;
    --text-muted: #c48b55;

    --border-main: #5a3b1f;
    --border-soft: #3a2615;

    --accent: #ff9f1c;

    --header-height: 64px;
    --sidebar-width: 220px;
}

@font-face {
    font-family: 'Sevastopol-Interface';
    src: url('/src/assets/fonts/Sevastopol-Interface.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Sevastopol-Interface', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--text-muted);
}

body {
    background-color: var(--bg-main);
}

main {
    margin-top: var(--header-height);
    display: flex;
    justify-content: center;
    transition: transform 0.25s ease;
}

main.shifted {
    transform: translateX(calc(var(--sidebar-width) / 2));
}

.main--container {
    max-width: 720px;
    width: 100%;
}

.main--container h1 {
    font-size: 3rem;
    letter-spacing: 2px;

}

::selection {
    background: var(--accent);
    color: #000;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: var(--border-main);
}


@media (max-width: 650px) {
    main {
        margin-top: var(--header-height);
        padding: 0 10px;
    }
}